{{!< default}}
<div class="index__hero">
	<h1 class="glenn-miller">Glenn Miller Café</h1>
</div>
<div class="wrapper">
	<div class="container">
		<div class="index__info">
			<h2 class="index__info__heading">
				Välkommen
			</h2>
			<div class="row">
				<p class="col-xs-12 col-sm-6">
					Donec fermentum dictum faucibus. Nunc lacinia tincidunt purus a vehicula. Fusce quis auctor elit, 
					vel consectetur diam. Vestibulum bibendum congue lorem ut blandit. Nam tincidunt turpis a egestas 
					pellentesque. Maecenas faucibus, metus vitae malesuada cursus.
				</p>
				<p class="col-xs-12 col-sm-6">
					Mi dui consequat lectus, sit amet 
					maximus nisl odio in eros. Integer nec eros tincidunt, lobortis felis sed, commodo nibh. 
					Mauris commodo, felis a suscipit dictum, metus elit dictum tellus, id tincidunt ex ex in diam. 
					Pellentesque vel suscipit felis. Sed pellentesque lacus vitae vehicula sodales. Fusce elit dolor, 
					placerat vitae
				</p>
			</div>

			<div class="opening-hours row">
				<div class="col-sm-5 col-xs-12">
					<h3 class="opening-hours__heading">Info i korthet</h3>
					<p class="opening-hours__title">Fredagar</p>
					<p class="opening-hours__time">16.30-18.00</p>
					<p class="opening-hours__title">Onsdag-söndag</p>
					<p class="opening-hours__time">18.00-01.00</p>
					<p class="opening-hours__title">Bordsbokning</p>
					<p class="opening-hours__time">0768824549/08-100322</p>
				</div>
				<div class="opening-hours__image col-sm-7 col-xs-12">
					<img src="http://www.foodtoursstockholm.se/images/foodtours/restaurants/Meatballs-3.jpg" alt="Bild på köttbullar">
				</div>
			</div>

		</div>
	</div>
</div>
<div class="parallax-wrapper parallax-wrapper__table"></div>
<div class="wrapper">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-xs-12 image-30__image"></div>
			<div class="col-sm-4 col-xs-12 image-30__image"></div>
			<div class="col-sm-4 col-xs-12 image-30__image"></div>
		</div>
		<div class="row">
			<p class="col-xs-12 col-sm-6">
				Donec fermentum dictum faucibus. Nunc lacinia tincidunt purus a vehicula. Fusce quis auctor elit, 
				vel consectetur diam. Vestibulum bibendum congue lorem ut blandit. Nam tincidunt turpis a egestas 
				pellentesque. Maecenas faucibus, metus vitae malesuada cursus.
			</p>
			<p class="col-xs-12 col-sm-6">
				Mi dui consequat lectus, sit amet 
				maximus nisl odio in eros. Integer nec eros tincidunt, lobortis felis sed, commodo nibh. 
				Mauris commodo, felis a suscipit dictum, metus elit dictum tellus, id tincidunt ex ex in diam. 
				Pellentesque vel suscipit felis. Sed pellentesque lacus vitae vehicula sodales. Fusce elit dolor, 
				placerat vitae
			</p>
		</div>

		
	</div>
</div>
	{{!-- <div class="jumbotron"><img src="/images/logo.svg" width="160">
		
		<p>This is your new <a href='http://keystonejs.com' target='_blank'>KeystoneJS</a> website.</p>
		<p>
			It includes the latest versions of
			<a href='http://getbootstrap.com/' target='_blank'>Bootstrap</a>
			and <a href='http://www.jquery.com/' target='_blank'>jQuery</a>.
		</p>
		<p>Visit the <a href='http://keystonejs.com/guide' target='_blank'>Getting Started</a> guide to learn how to customise it.</p>
		<hr>
		<p>We have created a default Admin user for you with the email <strong>wallof.kristofer@gmail.com</strong> and the password <strong>123456</strong>.</p>
		<p><a href="/keystone/signin" style="margin-right: 10px" class="btn btn-lg btn-primary">Sign in</a> to use the Admin UI.</p>
		<hr>
		<p>
			Remember to <a href='https://github.com/keystonejs/keystone' target='_blank'>Star KeystoneJS on GitHub</a> and
			<a href='https://twitter.com/keystonejs' target='_blank'>follow @keystonejs</a> on twitter for updates.
		</p>
	</div> --}}
</div>
